h2 {
  text-align: center;
}
mat-dialog-actions{
  align-content: center;
}

.container{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.room{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  border: 2px solid grey;

}
.details{
  position: relative;
}

.itemRight{
  position: absolute;
  top: 10px;
  right: 10px;
}

.setting{
  text-align: right;
}
p{
  line-height: 50%;
}
mat-icon{
  line-height: 50%;
}
