<div>
  <!--<h2 mat-dialog-title><strong>Settings</strong> - {{room?.roomName}}</h2>
  <hr>-->
  <form novalidate [formGroup]="myForm">
    <div class="form-group"
         [ngClass]="{
         'had-danger': roomName.invalid && (roomName.dirty || roomName.touched)
         }"
    >
     <label>Settings - </label>
      <input type="text"
             class="form-control"
             formControlName="roomName"
             [value]="room.roomName"
             required>
      <div class="form-control-feedback"
           *ngIf="roomName.errors && (roomName.dirty || roomName.touched)">
        <p *ngIf="roomName.errors">Room Name is required</p>
      </div>
    </div>
  </form>
  <mat-dialog-content>
    <br>
    <div class="container">
      <div class="setting">

        <div>
          <a>Temperature</a>
          <mat-slider
            [thumb-label]="true"
            [max]="30"
            [min]="0"
            [step]="1"
            [(ngModel)]="room.temp"
            [disabled]="!settings.showTemperature"
          ></mat-slider>
          <a>{{room.temp}}</a>
        </div>

        <br>
        <div>
          <a>Brightness</a>
          <mat-slider
            [thumb-label]="true"
            [max]="50"
            [min]="0"
            [step]="1"
            [(ngModel)]="room.light"
            [disabled]="!settings.showBlinding"
          ></mat-slider>
          <a>{{room.light}}</a>
        </div>

        <br>
        <div>
          <a>Volume</a>
          <mat-slider
            [thumb-label]="true"
            [max]="50"
            [min]="0"
            [step]="1"
            [(ngModel)]="room.music"
            [disabled]="!settings.showMusic"
          ></mat-slider>
          <a>{{room.music}}</a>
        </div>

        <br>
        <div>
          <a>Blinding</a>
          <mat-slide-toggle
            [(ngModel)]="room.blinding"
            [disabled]="!settings.showBlinding"
          ></mat-slide-toggle>
        </div>

      </div>
      <div class="roomModel">
        <div class="room"
                [style.height.px]="room.height"
                [style.width.px]="room.width"
                [style.left.px]="room.posX"
                [style.top.px]="room.posY"
                [style.background-color]= 'getRoomColor()'>
          <div class="details"
               [style.height.px]="room.height"
               [style.width.px]="room.width">
            <div class="itemRight">
              <p>{{room.roomName}}</p>
              <p *ngIf="settings.showTemperature">{{room.temp}}°C</p>
              <mat-icon *ngIf="settings.showMusic" class="{{getMusic()}}"></mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="thisDialogRef.close(room)">Save</button>
    <button mat-raised-button mat-dialog-close (click)="thisDialogRef.close('cancel')">Cancel</button>
  </mat-dialog-actions>
</div>
