<div>
  <h2 mat-dialog-title><strong>Settings</strong> - {{test?.roomName}}</h2>
  <hr>
  <mat-dialog-content>
    <br>
    <div class="container">
      <div class="setting">

        <div>
          <a>Temperature</a>
          <mat-slider
            [thumb-label]="true"
            [max]="30"
            [min]="0"
            [step]="1"
            [(ngModel)]="test.temp"
          ></mat-slider>
        </div>

        <br>
        <div>
          <a>Brightness</a>
          <mat-slider
            [thumb-label]="true"
            [max]="50"
            [min]="0"
            [step]="1"
            [(ngModel)]="test.light"
          ></mat-slider>
        </div>

        <br>
        <div>
          <a>Volume</a>
          <mat-slider
            [thumb-label]="true"
            [max]="50"
            [min]="0"
            [step]="1"
            [(ngModel)]="test.music"
          ></mat-slider>
        </div>

        <br>
        <div>
          <a>Blinding</a>
          <mat-slide-toggle
            [(ngModel)]="test.blinding"
          ></mat-slide-toggle>
        </div>

      </div>
      <div class="roomModel">
        <div class="room"
                [style.height.px]="test.height"
                [style.width.px]="test.width"
                [style.left.px]="test.posX"
                [style.top.px]="test.posY"
                [style.background-color]= 'getRoomColor()'>
          <div class="details"
               [style.height.px]="test.height"
               [style.width.px]="test.width">
            <div class="itemRight">
              <p>{{test.roomName}}</p>
              <p>{{test.temp}}°C</p>
              <mat-icon class="{{getMusic()}}"></mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="thisDialogRef.close(test)">Save</button>
    <button mat-raised-button mat-dialog-close (click)="thisDialogRef.close('cancel')">Cancel</button>
  </mat-dialog-actions>
</div>
