<!--
<section class="toolbar">
  <div class="sidenav">
    <mat-sidenav-container>

      <mat-sidenav #sidenav mode="over" [(opened)]="opened">
        <p><button mat-button (click)="sidenav.toggle()">Close</button></p>
      </mat-sidenav>

      <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">Settings</button></p>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>

  <div>

    <button [routerLink] = "['/domotica/floor', previousFloor()]"><</button>
    <span class="floorName">{{floorName}}</span>
    <button [routerLink] = "['/domotica/floor', nextFloor()]">></button>

  </div>
</section>

<section class="floor">
  <app-room *ngFor="let room of rooms"
            [room] = "room"
  ></app-room>
</section>
-->

<ng-container>
  <mat-toolbar class="header" color="primary">
    <p><button mat-button (click)="sidenav.toggle()">Settings</button></p>
    <div>
      <button [routerLink] = "['/domotica/floor', previousFloor()]"><</button>
      <span class="floorName">{{floorName}}</span>
      <button [routerLink] = "['/domotica/floor', nextFloor()]">></button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="floor-container">

    <mat-sidenav #sidenav mode="over" class="settings-sidenav"
                 [fixedInViewport]="false">

      <app-settings
        (showTemperature)="changeShowTemperature()"
        (showMusic)="changeShowMusic()"
        (showBlinding)="changeShowBlinding()"
        (showLight)="changeShowLight()"
        (showOutsideTemperature)="changeShowOutsideTemperature()"
      ></app-settings>

    </mat-sidenav>

    <mat-sidenav-content>
      <section class="floor">
        <app-room *ngFor="let room of rooms"
                  [room] = "room"
                  [showTemperature]="showTemperature"
                  [showMusic]="showMusic"
                  [showBlinding]="showBlinding"
                  [showLight]="showLight"
        ></app-room>
      </section>
      <section>
        <div>
          <p>{{weather.location}}</p>
          <img src={{weather.weatherIcon}}>
          <p>{{weather.weatherValue}}</p>
          <p>{{weather.temp}}°C</p>
          <p>{{weather.time}}PM</p>
          <p>{{weather.windDirection}}</p>
          <p>{{weather.windSpeed}}</p>
        </div>
      </section>
    </mat-sidenav-content>

  </mat-sidenav-container>


  <mat-toolbar class="footer" color="primary">
    Footer
  </mat-toolbar>
</ng-container>


