.floor{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  border: 2px solid grey;
  background-color: white;
  height: 500px;
  width: 550px;
  top: 100px;
  left: 250px;

  position: relative;
}

.toolbar{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.sidenav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 150px;
}
.floorUpDown{
  position: absolute;
  left: 500px;
  top: 50px;
}
