.room{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  border: 2px solid black;

  position: absolute;
}

.details{
  position: relative;
}

.itemRight{
  position: absolute;
  top: 10px;
  right: 10px;
}
p{
  line-height: 50%;
}
mat-icon{
  line-height: 50%;
}
